@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* general styles */

body {
    font-family: "istok web", arial, sans-serif;
    color: green;
}

/* header */

#warning {
    background-color: red;
    color: white;
    text-align: center;
}

