@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* general styles */

body {
    font-family: "istok web", arial, sans-serif;
    color: green;
    background-color: cornsilk;
}

/* header */

img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

#brand-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#brand-header {
    font-size: small;
}

#warning {
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/*main*/

#main-content {
    background: url('../images/sunrise-pastel.png') no-repeat center/cover;
}

#quotes {
    background: url('../images/dog-in-highlands.from-pixabay.laresa-perlman.jpg') no-repeat center/cover;
    color: black;
}

#quotes p {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    color: #2e24b1;
    border: 2px solid white;
}

/*footer*/

footer {
    display: flex;
    text-align: center;
    background-color: cornsilk;
    justify-content: space-evenly;
}

footer i {
    color: green;
}