@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* general styles */

body {
    font-family: "istok web", arial, sans-serif;
    color: green;
    background: url('../images/sunrise-pastel.png') no-repeat center/cover;
}

/* header */

img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

#brand-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#brand-header {
    font-size: small;
}

#brand-statement {
    display: flex;
    justify-content: center;
    margin: 0;
    border: solid 3px cornsilk;
}

#warning {
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/*main*/

#quotes {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    justify-content: center;
}

/*footer*/

footer {
    display: flex;
    text-align: center;
    background-color: cornsilk;
    justify-content: space-evenly;
    padding: 20px 0;
}

footer i {
    color: green;
   font-size: 160%;
   padding: 5%;
}